<div class="reset-container">
  <h2>Reset Password</h2>

  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required />
      <mat-error *ngIf="resetForm.get('email')?.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="resetForm.get('email')?.hasError('email')">Invalid email</mat-error>
    </mat-form-field>

<!--    <mat-form-field appearance="fill" class="full-width">-->
<!--      <mat-label>OTP</mat-label>-->
<!--      <input matInput formControlName="otp" required />-->
<!--      <mat-error *ngIf="resetForm.get('otp')?.hasError('required')">OTP is required</mat-error>-->
<!--    </mat-form-field>-->

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>New Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="newPassword" />
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="resetForm.get('newPassword')?.hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="resetForm.get('newPassword')?.hasError('minlength')">Min 6 characters</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" />
      <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
        <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="resetForm.hasError('mismatch')">Passwords do not match</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="resetForm.invalid">Reset Password</button>
  </form>
</div>
